Google-Map-Email-Scraping-Raw/file.json
{
  "nodes": [
    {
      "parameters": {
        "url": "=https://www.google.com/maps/search/ {{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        0
      ],
      "id": "2e151b77-a122-4ed4-a4ea-1c440b9adb7d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.data;\n\nconst regex = /https?:\\/\\/[^\\/\\s]+/g;\n\nconst urls = data.match(regex) || [];\n\nreturn urls.map(url => ({ json: { url: url } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "id": "00c0862e-c3f8-43b5-b434-5d9e25a16aae",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0586068d-aef4-4c72-a085-14589f9cac41",
              "leftValue": "={{ $json.url }}",
              "rightValue": "=(google|gstatic|ggpht|schema\\.org|example\\.com|sentry-next\\.wixpress\\.com|imli\\.com|sentry\\.wixpress\\.com|ingest\\.sentry\\.io)",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1100,
        0
      ],
      "id": "e3e85467-7cf4-4993-8b7c-b3081dec333f",
      "name": "Filter"
    },
    {
      "parameters": {},
      "id": "ba4f5f98-491b-4453-85d8-99d40e1757dd",
      "name": "Remove Duplicate URLs1",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [
        1320,
        0
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "emails"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1880,
        -200
      ],
      "id": "13acbf0b-4cb3-4818-98e0-f373e7b8ca25",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldToSplitOut": "emails",
        "options": {}
      },
      "id": "53c4c9ac-70c1-4929-81f8-993b8f9dbc4d",
      "name": "Split out into default data structure1",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1980,
        280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "emails",
        "options": {}
      },
      "id": "c49f59b5-bb61-4beb-8d23-9e34f7ea6586",
      "name": "Remove duplicate emails1",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [
        2180,
        280
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "041797f2-2fe2-41dc-902a-d34050b9b304",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              },
              "leftValue": "={{ $json.emails }}",
              "rightValue": "=(google|gstatic|ggpht|schema\\.org|example\\.com|sentry\\.wixpress\\.com|sentry-next\\.wixpress\\.com|ingest\\.sentry\\.io|sentry\\.io|imli\\.com)"
            }
          ]
        },
        "options": {}
      },
      "id": "9eb0f18b-9b16-4a3d-9e25-103993e308bb",
      "name": "Filter irrelevant emails1",
      "type": "n8n-nodes-base.filter",
      "position": [
        2360,
        280
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "7619b980-1cef-48c7-9c98-0a692fafb3a6",
      "name": "Request web page for URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1660,
        260
      ],
      "typeVersion": 4.2,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "c6bd8629-9208-41dd-99e9-cfb9d0ceb08e",
      "name": "Loop over URLs",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1460,
        180
      ],
      "typeVersion": 3,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "342f7b66-0931-429a-81a5-3ccdd6c46e61",
      "name": "Loop over pages",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1620,
        -60
      ],
      "typeVersion": 3,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $json.data\n\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!png|jpg|gif|jpeg)[a-zA-Z]{2,}/g\n\nconst emails = data.match(emailRegex)\n\nreturn {json: {emails: emails}}"
      },
      "id": "73494fc6-bf68-4e8b-8f0d-65a957be9917",
      "name": "Scrape emails from page",
      "type": "n8n-nodes-base.code",
      "position": [
        1800,
        -40
      ],
      "typeVersion": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1bz2mWjD6JA43l3S-qc40-Qo0Q_e_gDGYwNzUMqFC3vg",
          "mode": "list",
          "cachedResultName": "new_leads_raw_scraping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bz2mWjD6JA43l3S-qc40-Qo0Q_e_gDGYwNzUMqFC3vg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bz2mWjD6JA43l3S-qc40-Qo0Q_e_gDGYwNzUMqFC3vg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.emails }}",
            "Name": "={{ $json.emails.split(\"@\")[1].split(\".\")[0] }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2560,
        280
      ],
      "id": "ace18364-dddc-451d-b1c6-f4d5d10fa9c6",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "khdJqr435WvTyp9K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        380,
        0
      ],
      "id": "0cbd3cf8-8e7b-4e80-ab1f-1425449796dc",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Remove Duplicate URLs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicate URLs1": {
      "main": [
        [
          {
            "node": "Loop over URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Split out into default data structure1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split out into default data structure1": {
      "main": [
        [
          {
            "node": "Remove duplicate emails1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove duplicate emails1": {
      "main": [
        [
          {
            "node": "Filter irrelevant emails1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter irrelevant emails1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request web page for URL": {
      "main": [
        [
          {
            "node": "Loop over URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over URLs": {
      "main": [
        [
          {
            "node": "Loop over pages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Request web page for URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over pages": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape emails from page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape emails from page": {
      "main": [
        [
          {
            "node": "Loop over pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aaa915597b634da2d64c00ba9509f99de3c235cc75984f5024e405f577c3d1e4"
  }
}
