RAG-From-GumRoad-Guy/file.json
{
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "928b5cae-77cd-48a2-81ef-2f76dc441b0a",
              "leftValue": "={{ $('File Updated').item.json.mimeType }}",
              "rightValue": "application/vnd.google-apps.document",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6368b5ad-32b0-491d-a27d-5cc3ad5c2a11",
              "leftValue": "={{ ((Date.now() - Date.parse($('File Updated').item.json.createdTime)) / 1000) }}",
              "rightValue": 60,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        1340
      ],
      "id": "d83b92a8-6c7e-4268-a6ac-acb0a75d83a7",
      "name": "If",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# Knowledge Base Update File\n## Watch for file updated in a specified google drive folder \n## -> Remove old entry from knowledge base -> Implement versioning \n## -> Convert if necessary -> Extract text -> Add to knowledge base\n\n",
        "height": 1008,
        "width": 3067,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        940
      ],
      "typeVersion": 1,
      "id": "3cf62e25-3c60-4bcf-b223-4d960d025c9a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1c2sUK800AyknjXWPtRBZcqcnqvGQmYLE",
          "mode": "list",
          "cachedResultName": "Supabase",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1c2sUK800AyknjXWPtRBZcqcnqvGQmYLE"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "4f8c97a1-ffdc-4c61-9944-98c352b5b27d",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        60,
        1340
      ]
    },
    {
      "parameters": {},
      "id": "c558a201-b52f-475b-bb84-82a1b2dec9b7",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        400,
        1600
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c0cda76f-0770-4ee3-b322-9e99eeeb9cdd",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1100,
        700
      ],
      "webhookId": "3b4d0d6f-8540-4fcc-821c-38ebfe73bf23"
    },
    {
      "parameters": {
        "content": "# RAG AI Agent\n- Create or update file in google drive\n- Convert document to text and post in Supabase\n- Chat with AI Agent connected to Knowledge Base\n\n",
        "height": 148,
        "width": 582,
        "color": 6
      },
      "id": "d3203c70-aadf-4aa6-8401-ecdc3ffc6475",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1140,
        420
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        1020
      ],
      "id": "75afecba-267f-42fc-b8e7-dfd3c1060aec",
      "name": "GPT 4o mini"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Set ID').item.json.file_id }}/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Set ID').item.json.name }}"
            },
            {
              "name": "mimeType",
              "value": "application/vnd.google-apps.document"
            }
          ]
        },
        "options": {}
      },
      "id": "9a7b0b77-7b3c-4a01-9163-08c65f98ace8",
      "name": "Convert to Google Doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        700
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "=documents",
          "mode": "id"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "ace5c040-ca47-425a-ae02-a83aa43a9c4e",
      "name": "Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1960,
        120
      ]
    },
    {
      "parameters": {
        "content": "## Extract Data to Text\n",
        "height": 560,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        40
      ],
      "id": "6cabba0e-9ae3-4a5a-baa6-6e9d3fa0cd03",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Watch for Google Drive File Creation\n",
        "height": 420,
        "width": 820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        320
      ],
      "id": "78b68f18-2a39-42e2-9789-41f0dc5f127f",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# Knowledge Base File Creation\n## Watch for file creation in a specified google drive folder \n## -> Convert if necessary -> Extract text -> Add to knowledge base\n\n",
        "height": 900,
        "width": 2560,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "dadef254-91fd-4eba-addf-6a70a7fb0a1f",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Update Knowledge Base",
        "height": 560,
        "width": 580,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1940,
        40
      ],
      "id": "a0d5e754-4446-4a7c-8caa-07b6bdaa38c0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "54c41307-4ded-4ddf-8503-f54c963200f7",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1340,
        440
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "8adc5f2f-3600-4481-8a5f-9e5564d0a08c",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1340,
        120
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        500,
        400
      ],
      "id": "52d5512a-d07d-4068-b2f0-09ff10894c9e",
      "name": "Loop"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "7184ff85-6ba0-41a4-bb71-3d250188deac",
      "name": "Extract File Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1340,
        280
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1520,
        700
      ],
      "id": "dac2515b-81bd-4c6d-b452-5d9e86aaacaa",
      "name": "Delete File"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1c2sUK800AyknjXWPtRBZcqcnqvGQmYLE",
          "mode": "list",
          "cachedResultName": "Supabase",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1c2sUK800AyknjXWPtRBZcqcnqvGQmYLE"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "bc7fcb2e-7d28-4f1a-93d3-6b1711acf3b2",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        120,
        400
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Convert Text Files to Google Doc\n",
        "height": 240,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1260,
        640
      ],
      "id": "7dc8557d-727a-4a53-aef0-7a54316ceee4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Route Files\n",
        "height": 440,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        900,
        320
      ],
      "id": "266fbd29-2dcf-4bb0-9d9f-f8bd5e026230",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $('File Created').item.json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $('File Created').item.json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3d3573d7-5100-4e34-a3ac-6b838d88d426",
      "name": "Set ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        400
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "id"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "cfb6ecbc-1c23-4a28-b1cc-65b097774d7d",
      "name": "Supabase",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        2480,
        1100
      ]
    },
    {
      "parameters": {
        "content": "## Watch for Google Drive File Creation\n",
        "height": 600,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        20,
        1240
      ],
      "id": "9628d47e-c13c-48f7-b797-d289cb443a04",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $('File Updated').item.json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $('File Updated').item.json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4b009933-9792-471a-a85a-5a1627881821",
      "name": "Set ID_",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        1340
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $('Set ID_').item.json.file_id }}*"
      },
      "id": "c4e255b5-9dcd-4eaf-bc74-3e535e9d0141",
      "name": "Remove Supabase Row",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        160,
        1600
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a helpful, intelligent assistant.\nYour task is to take the incoming version number and add 1. \n\n**Examples**\nInput: v1\nOutput: v2\n\nInput: v2\nOutput: v3\n\nInput: v'#'\nOutput: v'#+1'\n\nThe output field should always be called \"version\"",
              "role": "system"
            },
            {
              "content": "=input version number: {{ $json.metadata.version }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "5786bce9-b1d9-4d9e-9f61-67a37da1164d",
      "name": "Version Control",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        780,
        1340
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        800,
        1580
      ],
      "id": "246c780d-857c-4834-b624-d6fde4e94cdf",
      "name": "Loop_"
    },
    {
      "parameters": {
        "content": "## Set Version ID\n",
        "height": 600,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        700,
        1240
      ],
      "id": "42d88479-1bd5-49db-a880-05ff04976044",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Route Files\n",
        "height": 420,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1300,
        1200
      ],
      "id": "000a29d6-da95-4cbf-8ea2-d9facd21838e",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        2600,
        1340
      ],
      "id": "e6485f90-8b5e-430d-8889-a87550c57490",
      "name": "text-embedding-3-small_"
    },
    {
      "parameters": {
        "content": "## Convert Text Files to Google Doc\n",
        "height": 260,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1740,
        1660
      ],
      "id": "12502656-081e-4387-af89-9cfa02953436",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Set ID_').item.json.file_id }}/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Set ID_').item.json.name }}"
            },
            {
              "name": "mimeType",
              "value": "application/vnd.google-apps.document"
            }
          ]
        },
        "options": {}
      },
      "id": "e4457233-fa27-4070-8c82-8a07788d823d",
      "name": "Convert to Google Doc_",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1800,
        1740
      ]
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set ID_').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2040,
        1740
      ],
      "id": "6aacfe05-5662-4809-a3e5-cb908c453532",
      "name": "Delete File_"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set ID_').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "84f1f7bb-aabc-4726-a97a-3adbe68ad14f",
      "name": "Download File_",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1080,
        1580
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "d06a7abd-c673-457e-91cc-ad2a69d7ecd4",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        680,
        520
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set ID_').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Set ID_').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text File"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $('Set ID_').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7ddfa924-1c26-4ee3-9890-5c9d2b96717a",
                    "leftValue": "={{ $('Set ID_').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(1)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f53caf8b-7a8f-4d1e-98f4-deaf0e0171f0",
                    "leftValue": "={{ $('Set ID_').item.json.file_type }}",
                    "rightValue": "application/msword",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(2)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cd9ca627-d00d-4c30-903a-41f603c8e36f",
                    "leftValue": "={{ $('Set ID_').item.json.file_type }}",
                    "rightValue": "application/vnd.ms-word",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(3)"
            }
          ]
        },
        "options": {
          "fallbackOutput": 2
        }
      },
      "id": "0f14d174-4f23-44db-b924-f7951bbe6471",
      "name": "Switch_",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1380,
        1260
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set ID').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Set ID').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text File"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $('Set ID').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7ddfa924-1c26-4ee3-9890-5c9d2b96717a",
                    "leftValue": "={{ $('Set ID').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(1)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f53caf8b-7a8f-4d1e-98f4-deaf0e0171f0",
                    "leftValue": "={{ $('Set ID').item.json.file_type }}",
                    "rightValue": "application/msword",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(2)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cd9ca627-d00d-4c30-903a-41f603c8e36f",
                    "leftValue": "={{ $('Set ID').item.json.file_type }}",
                    "rightValue": "application/vnd.ms-word",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(3)"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "4aa0ec3d-1e31-4ac7-935c-7d2776452a67",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        980,
        420
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "44e52c05-fb27-4135-b2f3-db0c9e4a3338",
      "name": "Aggregate_",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2020,
        1460
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "f8c7b667-121a-4124-aaa4-70584c94ed27",
      "name": "Summary_",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        2200,
        1460
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "4ae59712-cac7-4696-8faf-90fe00ffd552",
      "name": "Extract PDF Text_",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1800,
        1100
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "c9a002b3-2ff4-4d90-9efe-58c527a2ef56",
      "name": "Extract from Text File_",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1800,
        1280
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "1b97ae2a-b4e5-4ede-9a98-84c27ecff98b",
      "name": "Extract from Excel_",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1800,
        1460
      ]
    },
    {
      "parameters": {
        "content": "## Update Knowledge Base",
        "height": 540,
        "width": 580,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2440,
        1040
      ],
      "id": "16d8eb60-77ab-4d2c-9307-1648781f615a",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Extract Data to Text\n",
        "height": 580,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1740,
        1040
      ],
      "id": "c18fbde9-f359-49c8-9633-eb32cd0b122b",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "8a84a5b6-6747-4361-a2c8-53228d1833ac",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1560,
        440
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "fdf2d371-a312-4e40-ab42-0534508fe208",
      "name": "Summary",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        1740,
        440
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        2060,
        380
      ],
      "id": "cf94554f-48af-46ec-abaf-10a133711c89",
      "name": "text-embedding-3-small"
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 200,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2320,
        460
      ],
      "id": "b64a8277-f52b-43e3-83be-ac0755fd1586",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=fileID",
                "value": "={{ $('Set ID').item.json.file_id }}"
              },
              {
                "name": "=version",
                "value": "v1"
              },
              {
                "name": "=creator",
                "value": "={{ $('File Created').item.json.owners[0].displayName }}"
              },
              {
                "name": "=created_at",
                "value": "={{ $('File Created').item.json.createdTime }}"
              },
              {
                "name": "last_modified",
                "value": "={{ $('File Created').item.json.modifiedTime }}"
              },
              {
                "name": "folder_path",
                "value": "projects"
              },
              {
                "name": "file_name",
                "value": "={{ $('File Created').item.json.name }}"
              },
              {
                "name": "file_extension",
                "value": "={{ $('File Created').item.json.mimeType }}"
              }
            ]
          }
        }
      },
      "id": "bb0ae5dd-e16f-49cc-85fb-07ca5cf9b031",
      "name": "Enhanced Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2200,
        320
      ]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=fileID",
                "value": "={{ $('Set ID_').item.json.file_id }}"
              },
              {
                "name": "=version",
                "value": "={{ $('Version Control').item.json.message.content.version }}"
              },
              {
                "name": "=creator",
                "value": "={{ $('File Updated').item.json.owners[0].displayName }}"
              },
              {
                "name": "=created_at",
                "value": "={{ $('File Updated').item.json.createdTime }}"
              },
              {
                "name": "=last_modified",
                "value": "={{ $('File Updated').item.json.modifiedTime }}"
              },
              {
                "name": "=folder_path",
                "value": "projects"
              },
              {
                "name": "=file_name",
                "value": "={{ $('File Updated').item.json.name }}"
              },
              {
                "name": "=file_extension",
                "value": "={{ $('File Updated').item.json.mimeType }}"
              }
            ]
          }
        }
      },
      "id": "d1dd4e57-c895-497f-8115-8d4765de411a",
      "name": "Enhanced Default Data Loader_",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2720,
        1280
      ]
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2820,
        1420
      ],
      "id": "fa8d4fe8-3a76-41a9-a800-04984fcb81f4",
      "name": "Recursive Character Text Splitter_"
    },
    {
      "parameters": {
        "content": "## Message AI Agent \n\n\n",
        "height": 280,
        "width": 580,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1140,
        600
      ],
      "id": "d7dbb2c0-fe52-4575-9d53-fb34aa473d2f",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## Connected to GPT-4o mini\n- double click to change LLM",
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1220,
        920
      ],
      "id": "4713aa70-d631-4239-8e2e-df8ba5af891b",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0aa038df-da7c-4854-a114-b6f6468be0fb",
      "name": "RAG Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -840,
        640
      ]
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "41ca30d8-a384-4de8-871e-95d7fd74b98b",
      "name": "Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        -740,
        1140
      ]
    },
    {
      "parameters": {
        "content": "## Postgres database\n- can use Window Memory Buffer\n- Postgres allows scalability, and stores data externally",
        "width": 600
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1220,
        1100
      ],
      "id": "36158082-e29d-4275-8bf5-b55200e87e28",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c01959b1-2f4f-4773-aaf6-d2731590b55f",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -900,
        960
      ]
    },
    {
      "parameters": {
        "content": "## Vector Store Tool\n- allows for retrieval of data in Knowledge Base",
        "height": 420,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -500,
        720
      ],
      "id": "e3192305-9118-490c-8210-7bc399eb257a",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "91211097-ced6-413f-a03a-f9476d685459",
      "name": "Supabase Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -340,
        1280
      ]
    },
    {
      "parameters": {
        "content": "## Knowledge Base\n- ensure embeddings match database ",
        "height": 380,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -580,
        1180
      ],
      "id": "73783c5c-1835-4ae4-86e8-d71422fe448d",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "191580da-ebda-417c-902c-50dc6567c000",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        -500,
        1420
      ]
    },
    {
      "parameters": {
        "content": "# Chatbot\n## Let me know if you have any questions. Certainly some room for improvement\n## Feel free to reach out at martin@malenAI.com",
        "height": 1340,
        "width": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1240,
        260
      ],
      "id": "04af0867-4321-4b64-b1c1-41df6bcf77cf",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "name": "project_data",
        "description": "Retrieve information from vector store."
      },
      "id": "a2126fa5-e201-4c12-b50a-6977d6655ab7",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -440,
        900
      ]
    }
  ],
  "connections": {
    "If": {
      "main": [
        [],
        [
          {
            "node": "Remove Supabase Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Set ID_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Version Control",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4o mini": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Google Doc": {
      "main": [
        [
          {
            "node": "Delete File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract File Text": {
      "main": [
        [
          {
            "node": "Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Set ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ID": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ID_": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Supabase Row": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Version Control": {
      "main": [
        [
          {
            "node": "Loop_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop_": {
      "main": [
        [
          {
            "node": "Switch_",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download File_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text-embedding-3-small_": {
      "ai_embedding": [
        [
          {
            "node": "Supabase",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Google Doc_": {
      "main": [
        [
          {
            "node": "Delete File_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File_": {
      "main": [
        [
          {
            "node": "Loop_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_": {
      "main": [
        [
          {
            "node": "Extract PDF Text_",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Text File_",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel_",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc_",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc_",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract File Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate_": {
      "main": [
        [
          {
            "node": "Summary_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary_": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text_": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Text File_": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel_": {
      "main": [
        [
          {
            "node": "Aggregate_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary": {
      "main": [
        [
          {
            "node": "Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text-embedding-3-small": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Enhanced Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Default Data Loader_": {
      "ai_document": [
        [
          {
            "node": "Supabase",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter_": {
      "ai_textSplitter": [
        [
          {
            "node": "Enhanced Default Data Loader_",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Knowledge Base": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "aaa915597b634da2d64c00ba9509f99de3c235cc75984f5024e405f577c3d1e4"
  }
}
